/*
Tema: Web Storage - localstorage y sessionstorage 
Alumno: Mamen Arias de Haro
Fecha: 26 de enero de 2021
*/

body{
    background-color: gainsboro;
    background-image: url("computer-1245714_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#boton{
    float: left;
}

.bnv{
    text-align: left;
    font-weight: bold;
}

.texto{
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%;
}

#izquierda{
    background-color: lightgreen;
    width: 20%;
    border: solid 3px;
    border-color: #407213;
    padding: 5px;
}

#derecha img{
    width: 100%;
    height: auto;
}

#centro{
    background-color: lightpink;
    width: 60%;
    border:solid;
    border-color: #E063AA;
    align-items: right;
}

#derecha{
    background-color: lightblue;
    width: 20%;
    border:solid;
    border-color: #6293C9;
}

#contenido{
    display: flex;
    height: 25%;
}