@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&family=New+Tegomin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

/*'Acme', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: gainsboro;
    background-image: url("../media/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.marco {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 213px 0px auto 0px;
    grid-gap: 0px;
    width: 100vw;
    height: 100vh;
}

.encabezado {
    border-style: hidden;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    height: auto;
}

.logo {
    margin: auto;
    width: 200px;
    height: auto;
    margin-left: 42%;
}

.menu {
    overflow: hidden;
    height: auto;
    text-align: center;
    background-color: #FFCE29;
    border-radius: 20px;
}

.menu ul {
    list-style: none;
    display: inline-block;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.menu ul li {
    float: left;
    margin: 10px;
}

.menu ul li a {
    float: left;
    font-size: 20px;
    font-family: 'Londrina Solid', cursive;
    color: black;
    text-align: center;
    /*padding-top: 20%;*/
    padding: 14px 16px;
    font-weight: bolder;
    text-decoration: none;
}

.menu ul li a:hover {
    background-color: white;
    border-radius: 15px;
    height: 100%;
}

a:active {
    background-color: white;
    border-radius: 15px;
    color: rgb(182, 53, 182);
}

.activo {
    background-color: white;
    border-radius: 15px;
    color: rgb(182, 53, 182);
    height: 100%;
}

.lado {
    border-style: hidden;
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    background-image: url(../media/fondolateral.jpg);
    border-radius: 20px;
    padding-top: 35%;
    padding-bottom: 25%;
    overflow-y: auto;
    overflow-x: hidden;
}

details:hover {
    cursor: pointer;
}

details summary ul li {
    text-decoration: none;
}

summary {
    background-color: #FFF6CC;
    font-size: 20px;
    font-family: 'New Tegomin', serif;
    font-weight: bolder;
    padding: 3%;
    text-align: center;
    list-style: none;
    border-radius: 15px;
    margin: 10px;
    outline: none;
}

.menulateral li {
    font-family: 'New Tegomin', serif;
    text-align: center;
    text-decoration: none;
}

.icono {
    width: 20px;
    height: auto;
}

.contenido {
    border-style: hidden;
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    background-color: #C0F0E9;
    opacity: 0.9;
    border-radius: 20px;
    padding: 3%;
    text-align: justify;
    line-height: 1.5em;
    overflow-y: auto;
    overflow-x: hidden;
}

.listasContenido {
    font-family: 'Neucha', cursive;
    margin-left: 2em;
    list-style: circle;
    font-size: 18px;
}

.listasContenido li {
    text-align: left;
}

h2 {
    font-family: 'Neucha', cursive;
    font-size: 26px;
    font-weight: bolder;
}

p {
    font-family: 'Neucha', cursive;
    font-size: 18px;
}

.parrafo2 {
    clear: left;
}

.fotocerezo {
    width: 600px;
    height: auto;
    float: right;
    margin: 15px;
    vertical-align: middle;
    border-radius: 20px;
    object-fit: contain;
}

.fotohuevos {
    width: 400px;
    height: auto;
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
    vertical-align: middle;
    border-radius: 20px;
    object-fit: contain;
}

.fotocaza {
    width: 500px;
    height: auto;
    margin: 15px;
    float: right;
    vertical-align: auto;
    border-radius: 20px;
    object-fit: contain;
}