@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&family=New+Tegomin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: gainsboro;
    background-image: url("../media/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.marco {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 213px 0px auto 0px;
    grid-gap: 0px;
    width: 100vw;
    height: 100vh;
}

.encabezado {
    border-style: hidden;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    height: auto;
}

.logo {
    margin: auto;
    width: 200px;
    height: auto;
    margin-left: 42%;
}

.logo2 {
    width: 400px;
    height: auto;
    margin-left: 35%;
    margin-top: 5px;
    margin-bottom: 15px;
}

.menu {
    overflow: hidden;
    height: auto;
    text-align: center;
    background-color: #FFCE29;
    border-radius: 20px;
}

.menu ul {
    list-style: none;
    display: inline-block;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.menu ul li {
    float: left;
    margin: 10px;
}

.menu ul li a {
    float: left;
    font-size: 20px;
    font-family: 'Londrina Solid', cursive;
    color: black;
    text-align: center;
    /*padding-top: 20%;*/
    padding: 14px 16px;
    font-weight: bolder;
    text-decoration: none;
}

.menu ul li a:hover {
    background-color: white;
    border-radius: 15px;
    height: 100%;
}

a:active {
    background-color: white;
    border-radius: 15px;
    color: rgb(182, 53, 182);
}

.activo {
    background-color: white;
    border-radius: 15px;
    color: rgb(182, 53, 182);
    height: 100%;
}

.contenido {
    border-style: hidden;
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    background-color: #C0F0E9;
    border-radius: 20px;
    text-align: justify;
    line-height: 1.5em;
    opacity: 0.98;
    overflow-y: auto;
    overflow-x: hidden;
}

p {
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Acme', sans-serif;
    font-size: 18px;
    margin-top: 20px;
}

.separador {
    width: 40%;
    height: auto;
    margin-left: 30%;
}

.foto {
    margin: 6%;
    margin-left: 30px;
    float: right;
    width: 15%;
    height: auto;
    vertical-align: super;
}

.slide {
    position: relative;
    margin-top: 26px;
}

.slide-inner {
    position: relative;
    overflow: hidden;
    width: 40%;
    height: auto;
    border-radius: 15px;
    margin-left: 30%;
}

.slide-open:checked+.slide-item {
    position: static;
    opacity: 100;
}

.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.slide-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.slide-control.prev {
    left: 2%;
}

.slide-control.next {
    right: 2%;
}

.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#slide-1:checked~.control-1,
#slide-2:checked~.control-2,
#slide-3:checked~.control-3 {
    display: block;
}

.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}

.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.slide-circulo:hover {
    color: #aaaaaa;
}

#slide-1:checked~.control-1~.slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked~.control-2~.slide-indicador li:nth-child(2) .slide-circulo,
#slide-3:checked~.control-3~.slide-indicador li:nth-child(3) .slide-circulo {
    color: #428bca;
}

#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}